@page
@model ListModel
@{
}

<h1>Restaurant</h1>

<form method="get"> 
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for= "SearchTerm" />   
            <button type="button" class="btn btn-default btn-sm">
               search
            </button>
         </div>
    </div>
</form>

<table class="table">
    @foreach(var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cuisine</td>
            <td>
                <a class="btn btn-lg" 
                asp-page="./Detail" 
                asp-route-restaurantId="@restaurant.Id">
                Detail
                </a>
                <a class="btn btn-lg" 
                asp-page="./Edit" 
                asp-route-restaurantId="@restaurant.Id">
                Edit
                </a>
            </td>
        </tr>
    }
</table>
<!-- does not take to new page by default, bcs edit page demands and requires a restaurant ID "page {restaurantId:int}"
    in row 1 in Edit.cshtml. make it a optional parameter by ? 
-->
<a asp-page="./Edit" class="btn btn-primary"> Add new</a>